[Unit]
Description=Cloud-1 instance boot initialization
Requires=docker.service
After=cloud-init.service multi-user.target network-online.target sysinit.target
BindsTo=docker.service
ReloadPropagatedFrom=docker.service

[Service]
Type=oneshot
ExecStart="{{ launch_script_dest }}/{{ launch_script_name }}"

[Install]
WantedBy=multi-user.target